/*========================
 header
========================*/
#header {position:relative; width:100%;}

#header .inner{background:#999;}
#header .inner{}
#header .inner h1{margin:0;}
#header .inner img{height:60px;}


/*========================
 content 
========================*/
/*----- index -----*/
.top_operation{
	position:absolute; top:200px; left:0; bottom:0; right:0;
	max-width:400px; height:200px; margin:auto;
}
.top_operation .inner a{width:100%;}
.top_operation .inner img{opacity:0.7; transition:all 0.8s;}
.top_operation .inner img:hover{opacity:1;}


#contents #contents_inner{width:100%; margin:0 auto;}

.login_area {max-width:400px; margin:0 auto;}


/*========================
 footer
========================*/
#footer{position:absolute; bottom:0; width:100%; text-align:center;padding:5px 0;background:#222;}
#footer span{color:#FFF;}
